body{

}
.logo{
  background-color: red;
  width:7em;
  height: 5em;
  float: left;
  position: relative;
  border: 1px solid black;
}
header{
  height: 5em;
  border: 2px solid black;
}
header > p{
  line-height: 1;
  padding-top:1em;
}
li{
  background-color: green;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  line-height: 2em;
  height: 2em;

}
nav ul{
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: auto;
}
.left{
  width:12em;

  background-color: rgb(109, 165, 223);
}

.content{
  background: yellow;
  width: calc(100% - 12.3em);
  height: 100%;

}
.main > aside, article{
  border: 1px solid black;
  float:left;
}
.main > aside{
  height: 100%;
}
.top{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  width: 100%;
}
.top >article{

  width: 17em;
  height: 10em;
  margin-top: 2em;
  text-align: center;
}
.top >article > p{
  line-height: 10em;
  margin: 0 0;
  padding: 0 0;

}



.top > article:nth-child(4),article:nth-child(5), article:nth-child(6){
  margin-bottom: 6em;
}

.bottom >article > p{
  line-height: 12em;
}
.bottom{
  width: 100%;
  position: relative;
}
.bottom >article{
  display: inline-block;
  width: calc(90%/3);
  height: 12em;
  margin: 3.7em 0;
  text-align: center;
  float: left;

}
.bottom > article:first-child{
    margin-left:2em;
    margin-right:1em;
}
.bottom > article:last-child{

    margin-left:1em;
}
.main {
  height: 50em;
}
footer > section > article{
  position: relative;
  display: inline-block;
  width: calc(99.5%/3);
  background-color: red;
  text-align: center;
  border: none;
}
footer > section > article:nth-child(2){
  border-right: 1px solid black;
  border-right: 1px solid black;
}
footer > section > article > p{
  position: relative;
  top:50%;

}
.about{
  width:100%;
  height: 3em;
  text-align: center;
}
.about > p{
  position: relative;
  top:50%;
  margin-top:-9px;
}
footer{
  position: relative;
}
#after_block{

}
#after_block:after{
  content: " ";
       display: block;
       transform: rotate(-42deg);
       height: 70px;
       width: 29px;
       border-left: 2px solid black;
       position: relative;
       top:-180px;
       left: 245px;
}
#after_block:before{
  content: " ";
       display: block;
       transform: rotate(-42deg);
       height: 145px;
       width: 2px;
       float:left;
       border-right: 2px solid black;
        top: -18px;
       left: 220px;
       position: relative;

}
